In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../retail.csv")

In [4]:
df.head()

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United States,315044.33,437477.15,158371.76,66385.0,2.552857,6.59,156672.57,5.195714
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,13444.68,14313.48,6298.80,2172.0,2.900000,6.59,7145.88,6.190000
2,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Japan,181120.24,235236.64,89413.06,35696.0,2.657000,6.59,91707.18,5.488000

In [44]:
res = df.groupby(by=["Retailer country","Year"]).sum()["Revenue"].to_dict()

In [54]:
res = df.groupby(by=["Retailer country","Year"]).sum()["Revenue"].to_dict()
d = {}
for key,value in res.items():
    if not d.get(key[0]):
        d[key[0]] = [{key[1]: value}]
    else: 
        d[key[0]].append({key[1]: value})

In [56]:
years = "2004,2005,2006,2007"

In [58]:
df[df["Year"].isin(map(int,years.split(",")))].groupby(by=["Retailer country"]).sum()["Revenue"].sort_values().to_dict()

{'Denmark': 62013023.51000002,
 'Sweden': 95411435.54000014,
 'Switzerland': 100731875.50999992,
 'Australia': 109299969.14000009,
 'Belgium': 113031617.62999995,
 'Brazil': 138276679.04999998,
 'Austria': 143709405.31999978,
 'Spain': 165066464.22,
 'Mexico': 167187013.21999973,
 'Netherlands': 184321676.62999994,
 'Italy': 186648098.6800001,
 'Finland': 188575310.13,
 'Singapore': 197622385.04,
 'Korea': 200725307.08999985,
 'Germany': 262313028.79000014,
 'United Kingdom': 277509546.5599999,
 'France': 286569502.1500003,
 'Canada': 306159341.39000005,
 'China': 317244910.7599998,
 'Japan': 357446606.9499998,
 'United States': 826912571.5399992}